<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<center>
    <h3>书1</h3>
    <p>作者</p>
    <p>售价￥</p>
    <form method="post">
        数量: <input type="text" name="number">
        <input type="hidden" name="name" value="书1">
        <input type="hidden" name="price" value="10">
        <input type="submit" value="购买">
    </form>
    <hr>
    <h3>书2</h3>
    <p>作者</p>
    <p>售价￥</p>
    <form method="post">
        数量: <input type="text" name="number">
        <input type="hidden" name="name" value="书2">
        <input type="hidden" name="price" value="20">
        <input type="submit" value="购买">
    </form>
</center>
</body>
</html>